/* ====================================
   GOOGLE FONT
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================================
   BASE
==================================== */
body {
    font-family: 'Roboto', sans-serif;
}

/*=========================================== ROOT-DEFINE-VALUES ================================================= */
:root {
  --color-primary:#3898;
  --color-secondary:#3898;
  --color-orange:#1c9f4c;
  --font-xs: 14px;
  --font-sm: 15px;
  --font-base: 17px;
  --font-md: 20px;
  --font-lg: 22px;
  --font-xl: 24px;
  --font-2xl: 27px;
  --font-3xl: 30px;
  --font-4xl: 37px;
  --font-5xl: 47px;
  --font-6xl: 50px;
}

/*================================================= DEFINE-ALL = COLOR-VALUE =========================================== */
.text_white {
  color: var(--color-white) !important;
}

.text_light_orange {
  color: var(--color-light-orange) !important;
}
.text_orange{
  color: var(--color-orange);
}

/*=========================================== DEFINE-ALL = FONT-SIZES ========================================== */
.font_xs {
  font-size: var(--font-xs) !important;
}

.font_sm {
  font-size: var(--font-sm) !important;
}

.font_base {
  font-size: var(--font-base) !important;
}

.font_md {
  font-size: var(--font-md) !important;
}

.font_lg {
  font-size: var(--font-lg) !important;
}

.font_xl {
  font-size: var(--font-xl) !important;
}

.font_2xl {
  font-size: var(--font-2xl) !important;
}

.font_3xl {
  font-size: var(--font-3xl) !important;
}

.font_4xl {
  font-size: var(--font-4xl) !important;
}

.font_5xl {
  font-size: var(--font-5xl) !important;
}

.font_6xl {
  font-size: var(--font-6xl) !important;
}

/*============================================================ DEFINE-ALL = @media----FONT SIZE-SET  ======================================*/

@media (max-width:1299.98px) {
  :root {
    --font-5xl: 44px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-5xl: 38px;
    --font-6xl: 50px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-2xl: 24px;
    --font-3xl: 28px;
    --font-4xl: 32px;
    --font-5xl: 36px;
    --font-6xl: 42px;
    --font-base: 16px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xs: 14px;
    --font-sm: 15px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 22px;
    --font-2xl: 22px;
    --font-3xl: 24px;
    --font-4xl: 26px;
    --font-5xl: 36px;
    --font-6xl: 40px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 20px;
    --font-5xl: 28px;
    --font-6xl: 34px;
  }
}