/*---------------- NAVBAR STYLING --------------*/
.navbar-custom {
    background: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.162);
    padding: 12px 0;
    transition: 0.3s;
}

/*--------------- MENU ITEMS ---------------*/
.nav-link {
    color: black !important;
    font-size: 18px;
    margin-right: 25px;
    position: relative;
    font-weight: 500;
}

/* Hover underline animation */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    left: 50%;
    height: 3px;
    background: black;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.menu-icon span {
    display: block;
    width: 28px;
    height: 3px;
    background: #000; /* << Change this color */
    margin: 5px 0;
    transition: 0.3s;
}

/*--------------- HAMBURGER ANIMATION ---------------*/
.menu-icon {
    cursor: pointer;
    width: 28px;
    height: 20px;
    position: relative;
    transition: 0.4s;
}

.menu-icon span {
    position: absolute;
    /* height: 3px; */
    width: 100%;
    background: black;
    border-radius: 5px;
    transition: 0.4s;
}

.menu-icon span:nth-child(1) {
    top: 0;
}
.menu-icon span:nth-child(2) {
    top: 8px;
}
.menu-icon span:nth-child(3) {
    top: 16px;
}

/* Cross animation */
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
}

/* Disable scroll when mobile menu open */
body.no-scroll {
    overflow: hidden;
}


/* hero section css */
.hero_slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.animated_content{
    z-index: 2 !important;
}
.hero_layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



        .hero_button {
            background-color: #F48224;
            color: #fff;
            font-size: 20px;
            font-weight: 800;
            padding: 10px 20px;
            text-transform: uppercase;
            position: relative;
            border-radius: 0 !important;
            border: none;
            transition:all 0.3s ease 0s;
        }
        .hero_button:hover,
        .hero_button.active:hover{
            color: #ffffff;
        }
        .hero_button:before{
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            background-color:white;
            width: 30%;
            height: 4px;
            transition:all 0.3s ease 0s;
        }
        .hero_button:after{
            content: "";
            position: absolute;
            bottom: -7px;
            right: 0;
            background-color:white;
            width: 30%;
            height: 4px;
            transition:all 0.3s ease 0s;
        }
        .hero_button:hover:before,
        .hero_button:hover:after,
        .hero_button.active:before,
        .hero_button.active:after{
            width: 100%;
        }

        @media screen and (max-width: 575px){
            .hero_button{
                margin-bottom: 50px !important;
                 padding: 5px 10px;
            }
        }