/* common button */
.neon-btn {
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    color: #fff;
    background: #111;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 0 8px var(--color-orange);
}

.neon-btn:hover {
    background: var(--color-orange);
    color: white;
    box-shadow: 0 0 15px var(--color-orange), 0 0 30px var(--color-orange);
    border-color: var(--color-orange);
}

/* Shine Effect */
.neon-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transform: skewX(-25deg);
    transition: 0.5s;
}

.neon-btn:hover::before {
    left: 100%;
}

/* preloader css start here */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bar-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bar {
    width: 10px;
    height: 50px;
    background: linear-gradient(45deg, var(--color-orange), #ff8c00);
    border-radius: 5px;
    animation: bounce 1.2s infinite ease-in-out;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}

.bar:nth-child(4) {
    animation-delay: 0.6s;
}

.bar:nth-child(5) {
    animation-delay: 0.8s;
}

h1 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: fadeIn 1s ease-in-out infinite;
}

/* Hide Content Initially */
#content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Animations */
@keyframes bounce {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

@keyframes fadeIn {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}



/*---------------- NAVBAR STYLING --------------*/
.navbar-custom {
    background: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.162);
    padding: 12px 0;
    transition: 0.3s;
}

/*--------------- MENU ITEMS ---------------*/
.nav-link {
    color: black !important;
    font-size: 18px;
    margin-right: 25px;
    position: relative;
    font-weight: 500;
}

/* Hover underline animation */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    left: 50%;
    height: 3px;
    background: var(--color-orange);
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--color-orange) !important;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.menu-icon span {
    display: block;
    width: 28px;
    height: 3px;
    background: #000;
    /* << Change this color */
    margin: 5px 0;
    transition: 0.3s;
}

/*--------------- HAMBURGER ANIMATION ---------------*/
.menu-icon {
    cursor: pointer;
    width: 28px;
    height: 20px;
    position: relative;
    transition: 0.4s;
}

.menu-icon span {
    position: absolute;
    /* height: 3px; */
    width: 100%;
    background: black;
    border-radius: 5px;
    transition: 0.4s;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 8px;
}

.menu-icon span:nth-child(3) {
    top: 16px;
}

/* Cross animation */
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
}

/* Disable scroll when mobile menu open */
body.no-scroll {
    overflow: hidden;
}


/* hero section css */
.hero_slider {
    position: relative;
    height: 520px;
    overflow: hidden;
}

.hero_slider::after {
    content: '';
    position: absolute;
    background-color: #00000060;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* Background Video */
.hero_slider .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Content Above Video */
.hero-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 22;
    top: 0;
    left: 0;
}

/* Fade up animation */
@keyframes fadeUpRepeat {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

/* Apply animation to elements */
.hero-text {
  animation: fadeUpRepeat 7s ease-in-out infinite; 
}

.hero_button {
  animation: fadeUpRepeat 7s ease-in-out infinite; 
}
.hero-text:nth-child(1) { animation-delay: 0s; }
.hero-text:nth-child(2) { animation-delay: 1s; }
.hero_button { animation-delay: 2s; }


.animated_content {
    z-index: 2 !important;
}

.hero_layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero_button {
    background-color: var(--color-orange);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition: all 0.3s ease 0s;
}

.hero_button:hover,
.hero_button.active:hover {
    color: #ffffff;
}

.hero_button:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: white;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.hero_button:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: white;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.hero_button:hover:before,
.hero_button:hover:after,
.hero_button.active:before,
.hero_button.active:after {
    width: 100%;
}

@media screen and (max-width: 575px) {
    .hero_button {
        margin-bottom: 50px !important;
        padding: 5px 10px;
    }
}

/* vision section css */
.vision-section{
    background-image: url("../images/vision-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.vision_card .vision-item{
      background:white; 
      color: var(--color-orange) !important;
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
border: 1px solid var(--color-orange);
}


.vision_card .vision-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 10px var(--color-orange) !important;
}


/* about section css */
.glass-box {
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: fadeInUp 1s ease-in-out;
}

.about-hero {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* our team section css */
.team-card .team-img {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.team-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 12px;
}

.team-card:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.team-info {
    position: absolute;
    bottom: -100px;
    left: 20px;
    color: #fff;
    transition: 0.5s;
}

.team-card:hover .team-info {
    bottom: 20px;
}

.team-info h5 {
    margin: 0;
    font-weight: bold;
}

.team-info p {
    margin: 0;
    font-size: 14px;
    opacity: 0.9;
}

/* services section css */
.service-card {
    position: relative;
    border-radius: 15px;
    padding: 30px;
    color: #fff;
    transition: 0.4s ease;
    overflow: hidden;
    border: 1px solid #222;
}

/* Hover Glow + Lift */
.service-card:hover {
    transform: translateY(-10px);
    border-color: var(--color-orange);
    box-shadow: 0 0 15px var(--color-orange), 0 0 25px var(--color-orange);
}

/* Shine effect */
.service-card::before {
    content: "";
    position: absolute;
    top: -80%;
    left: -120%;
    width: 250%;
    height: 250%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent);
    transform: skewX(-25deg);
    transition: 0.7s linear;
}

.service-card:hover::before {
    left: 150%;
}

/* Icon Styling */
.icon-box {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--color-orange), var(--color-orange));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    box-shadow: 0 0 15px var(--color-orange);
    transition: 0.4s ease;
}

/* Icon hover spin */
.service-card:hover .icon-box {
    transform: rotate(10deg) scale(1.1);
    box-shadow: 0 0 20px var(--color-orange);
}


/* contact us section css */
.contact-section {
    background: #eaf2ff;
}

.contact-box {
    max-width: 1100px;
}

/* Gradient Background */
.contact-gradient {
    background: linear-gradient(135deg, var(--color-orange), #2c2e2dff);
    position: relative;
}

/* White outlined inputs */
.contact-input {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
}

.contact-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

/* Social Icons */
.social-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.social-icon:hover {
    background: var(--color-orange);
    color: white;
    transform: translateY(-3px);
}

.form_button {
    transition: all 300ms linear;
    border: none;
    border-radius: 4px;
    padding: 6px 20px;
}

.form_button:hover {
    background-color: var(--color-orange);
    color: white;
}


/* testimoial section css */
.testimonial-section {
    background: #f4faff;
}

.testimonial-card {
    max-width: 700px;
    background: #fff;
    border-radius: 20px;
}

.testimonial-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid var(--color-orange);
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 200, 255, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
}


/* footer section css */
.footer_link {
    transition: all 300ms linear;
}

.footer_link:hover {
    color: var(--color-orange) !important;
}